.foodItem {
  display: flex;
  flex-direction: column;
  margin-top: 15px !important;
  background-color: #f7ead4;
  padding: 10px 20px;
  border-radius: 10px;
  width: 412px;
  max-width: 700px;
  min-height: 127px;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #f7ead4;
}

.foodItem:hover {
  filter: brightness(0.98);
}
.foodItem-card {
  position: relative;
  top: 10px;
  font-family: "M PLUS 1p", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.foodimgcontainer {
  display: inline-block;
}

.foodimgcontainer img {
  width: 80px !important;
  height: 80px;
}

.foodinfo {
  font-weight: 500;
  display: inline-block;
  text-align: center;
  flex-grow: 1;
  position: relative;
  bottom: 15px;
  overflow-y: hidden;
  left: 5px;
}

.foodinfo p {
  font-size: 16px;
  font-weight: 500;
  font-family: M PLUS 1p, sans-serif;
  margin: 0;
}

.foodinfo span {
  font-size: 16px;
  font-family: Myanmar Text, sans-serif;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.price-addtocart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  margin-top: 10px;
  position: relative;
  bottom: 15px;
  width: 50px;
}

.price-addtocart p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.price-addtocart button {
  border: none;
  background-color: transparent;
  border-radius: 500%;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 16px;
  overflow-y: hidden;
}
.price-addtocart i:active {
  background-color: black;
  opacity: 0.4;
  color: #fff4e3;
  border-radius: 180px;
}
.price-addtocart i {
  font-size: 20px !important;
}

.fooditem-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px 0;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  width: 70%;

  position: relative;
  bottom: 30px;
  left: 100px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between checkbox and text */
  font-size: 16px;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 480px) {
  .foodItem {
    margin-bottom: 0px !important;
    padding: 0px 20px !important;

    max-width: 380px !important;
    margin-bottom: 30px;
  }

  .foodimgcontainer img {
    width: 65px;
    margin: 10px 0px;
    display: flex;
  }
}
