.today-Page {
  height: auto;
}
.today-Page h1 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  overflow-y: hidden;
  background-color: #ba915a;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.todaystyle .foodItem {
  margin-top: 42px;
  width: 80%;
  padding: 10px !important;
  background-color: #fff4e3;
  border: 1px solid black;
  border-radius: 0px;
}

.todaystyle .foodItem:hover {
  filter: none !important;
  background-color: inherit !important;
  cursor: default !important;
}

.todaystyle .foodItem .foodimgcontainer {
  position: absolute;
  z-index: auto;
  transform: translate(-60%, -30%);
  background-color: #fff4e3;
  padding: 10px !important;
}
.todaystyle .foodItem .foodinfo {
  font-family: M PLUS 1p, sans-serif;
}

.todaystyle .foodItem:nth-child(even) .foodinfo {
  background-color: #fff4e3 !important;
  transform: translate(-10%, 0%);
}
.todaystyle .foodItem:nth-child(even) .price-addtocart {
  position: relative;
  background-color: #fff4e3 !important;
  transform: translate(-160%, 0%);
}

.todaystyle .foodItem:nth-child(even) .foodimgcontainer {
  position: absolute;
  margin-left: 700px !important;
  background-color: #fff4e3 !important;
}

@media only screen and (max-width: 885px) {
  .todaystyle .foodItem .foodimgcontainer {
    position: absolute;
    z-index: auto;
    background-color: #fff4e3;
    padding: 10px !important;
  }

  .todaystyle .foodItem:nth-child(even) .foodimgcontainer {
    margin-left: 78% !important; /* Reset margin for mobile */
    z-index: auto;
    position: absolute;
  }
}
